<% include partials/header %>

<header>
    <div class="text-center mx-auto">
        <img class="" src="favicon.jpg" alt="">
        <h1 class=" pb-5 text-white">
            Our Culture
        </h1>
    </div>
    <div class="back-home">
        <a href="/" class="btn btn-dark">Home</a>
    </div>
</header>



<% include partials/footer %>
