<% include partials/header %>

<header>
    <div class="text-center mx-auto">
        <img class="" src="favicon.jpg" alt="">
    </div>
    <div class="back-home">
        <a href="/" class="btn btn-dark">Home</a>
    </div>
</header>
<section>
    <div class="container">
        <div>
            <h1 class="text-center pt-5 pb-5">Our Team</h1>
        </div>
        <div class="row">
            <div class="col-lg-2 col-sm-3 col-6 m-0">
                <img class="w-100 p-0" src="https://images.unsplash.com/photo-1552014947-5f72866c1e93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <p class="p-text text-center">Anna Bille <br> UI/UX designer</p>
            </div>
            <div class="col-lg-2 col-sm-3 col-6 m-0">
                <img class="w-100 p-0" src="https://images.unsplash.com/photo-1519744434498-a0de604df9db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <p class="p-text text-center">Anna Bille <br> UI/UX designer</p>
            </div>
            <div class="col-lg-2 col-sm-3 col-6 m-0">
                <img class="w-100 p-0" src="https://images.unsplash.com/photo-1552014947-5f72866c1e93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <p class="p-text text-center">Anna Bille <br> UI/UX designer</p>
            </div>
            <div class="col-lg-2 col-sm-3 col-6 m-0">
                <img class="w-100 p-0" src="https://images.unsplash.com/photo-1552014947-5f72866c1e93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <p class="p-text text-center">Anna Bille <br> UI/UX designer</p>
            </div>
            <div class="col-lg-2 col-sm-3 col-6 m-0">
                <img class="w-100 p-0" src="https://images.unsplash.com/photo-1552014947-5f72866c1e93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <p class="p-text text-center">Anna Bille <br> UI/UX designer</p>
            </div>
            <div class="col-lg-2 col-sm-3 col-6 m-0">
                <img class="w-100 p-0" src="https://images.unsplash.com/photo-1552014947-5f72866c1e93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <p class="p-text text-center">Anna Bille <br> UI/UX designer</p>
            </div>
            <div class="col-lg-2 col-sm-3 col-6 m-0">
                <img class="w-100 p-0" src="https://images.unsplash.com/photo-1552014947-5f72866c1e93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <p class="p-text text-center">Anna Bille <br> UI/UX designer</p>
            </div>
            <div class="col-lg-2 col-sm-3 col-6 m-0">
                <img class="w-100 p-0" src="https://images.unsplash.com/photo-1552014947-5f72866c1e93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <p class="p-text text-center">Anna Bille <br> UI/UX designer</p>
            </div>
            <div class="col-lg-2 col-sm-3 col-6 m-0">
                <img class="w-100 p-0" src="https://images.unsplash.com/photo-1552014947-5f72866c1e93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <p class="p-text text-center">Anna Bille <br> UI/UX designer</p>
            </div>
            <div class="col-lg-2 col-sm-3 col-6 m-0">
                <img class="w-100 p-0" src="https://images.unsplash.com/photo-1552014947-5f72866c1e93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <p class="p-text text-center">Anna Bille <br> UI/UX designer</p>
            </div>
            <div class="col-lg-2 col-sm-3 col-6 m-0">
                <img class="w-100 p-0" src="https://images.unsplash.com/photo-1552014947-5f72866c1e93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <p class="p-text text-center">Anna Bille <br> UI/UX designer</p>
            </div>
            <div class="col-lg-2 col-sm-3 col-6 m-0">
                <img class="w-100 p-0" src="https://images.unsplash.com/photo-1552014947-5f72866c1e93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <p class="p-text text-center">Anna Bille <br> UI/UX designer</p>
            </div>                                                            
        </div>
    </div>
</section>
<% include partials/footer %>
