html{
    overflow-x: hidden
}

header{
    margin-bottom:  5rem;
}

.header-90{
    display: inline-block;
    width: 100%;
    padding-bottom: 0rem;
}

.sub-nav{
    padding-top: 2rem;
    padding-right: 10rem;
}

.sub-nav .btn{
    display: inline-block;
}

.sub-nav .btn-secondary{
    background: none;
    border: none;
}

.sub-nav a:nth-of-type(1){
    border-right: 3px solid white;
}

#myVideo {
    position: sticky;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%
}
.header{
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #f1f1f1 !important;
    min-width: 100%;
    min-height: 100%;
    z-index: 100;
}

.eye h1{
    padding-top: 3rem;
    font-size: 8rem;
}

.eye{
    padding: 5rem;
}

.eye p{
    font-size: 3rem;
}

.eye .btn{
    font-size: 2rem;
}

.play{
    display: inline-block;
    padding-top: 10rem;
}

.play .btn{
    margin-top: 1.5rem;
    display: block;
    font-size: 1rem !important;
}

/* Slider */
.slider-container {
    position: relative;
   }
    .slider-container .slider-parent {
        padding: 2rem;
      height: 70vh;
      max-width: 250px;
      width: 100%;
      background: rgb(39, 46, 83);
      position: absolute;
      right: -250px;
      top: 50px;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      transition: .2s all linear;
   }
     .slider-container .slider-parent.active {
        visibility: visible;
        pointer-events: inherit;
        transition: .2s all ease-in-out;
        opacity: 1;
        right: 0;
        z-index: 100;
   }

.video-full{
    visibility: visible;
    display: none;
    position: fixed;
    top: 0;
    z-index: 1;
}

.full-video-play{
    visibility: visible;
    display: inline;
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 5rem;
}

.side-nav{
    padding: 8rem 2rem 0rem 2rem;
}

.side-nav .btn{
    font-size: 1.5rem;
}

.rot {
    transform: rotate(90deg);
    margin-right: 2rem;
    margin-bottom: 10rem;
    /* background-color: rgba(39, 46, 83, 0.5); */
    color: rgb(39, 46, 83);
    /* border-color: rgb(39, 46, 83); */
}

.rot:hover{
    background-color: rgb(39, 46, 83);
    color: white;
    border-color: rgb(39, 46, 83);
}

.c-blue{
    color: rgb(39, 46, 83) !important;
}

#building-capacity{
    background: rgb(246, 244, 244);
}

.box{
    background: white;
    width: 100%;
    height: 20rem;
    border-radius: .3rem;
    box-shadow: 0rem .6rem 1.5rem black;

}

#join-us{
    background-image: url("https://images.unsplash.com/photo-1493497029755-f49c8e9a8bbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#join-us .box{
    background: rgba(255, 255, 255, 0.05);
    color: white;
    width: 100%;
    height: 20rem;
    border-radius: .3rem;
    box-shadow: 0rem .6rem 1.5rem black;
}

#join-us h5{
    margin-top: 1rem;
}

#join-us .fas{
    color: rgb(243, 211, 31)
}

#sponsors{
    background: white;
}

#sponsors .row{
    padding-top: 7rem;
}

#newsletter{
    background: #f1f1f1
}
.newsBox{
    margin-top: 5rem;
    margin-bottom:0rem;
    padding: 8rem;
}

.form-email{
    box-shadow: -9rem -2rem 0rem 0rem rgb(255, 166, 0),
            -9rem 2rem 0rem 0rem rgb(255, 166, 0);
}
.email{
	height: 5rem;
	background: linear-gradient(90deg, rgb(39, 46, 83) 10%, rgba(39, 46, 83, 0.726) 90%);
	color: white;
	font-size:1.5rem;
}

footer{
    background: black;
    margin-top: 5rem;
    color: white;

}

footer img{
    width: 15%;
}

footer .fab{
    margin-left: 1rem;
    color: white !important;
}

header img{
    width: 10%;
    padding-top: 5rem;
    padding-bottom: 5rem; 
}

header{
    background: black;
}

.p-text{
    background: rgba(0, 0, 0, 0.801);
    color: white;
    font-weight: bold;
    position: relative;
    top: -4rem;
    padding: .5rem 1rem;

}

header .img-thumbnail{
    padding: 0 !important;
}

.back-home{
    position: fixed;
    top: 1rem;
    right: 2rem;
}

.back-home .btn-white{
    background-color: black;
    color: white;
}